$bg-body: #f1f2f6;
$bg-container: #fff;
$bg-buttons-buy: linear-gradient(180deg, #2ecc71, #1abc9c);
$bg-buttons-sell: linear-gradient(180deg, #f53b82, #f53b57);
$txt-color: #333;
$price-color: #24c486;
$btn-color: #fff;
